/* Complete, unmodified IBM Plex fonts (SIL OFL; see fonts/LICENSE.txt).
 * Source: https://github.com/IBM/plex/tree/78cd4223d8de9fcb78cba84eadecb269c56093c5/packages
 * plex-{sans,mono,serif}/fonts/complete/woff2/ (Sans Regular/Medium/Italic/MediumItalic; Mono Regular/Medium; Serif Italic)
 * The face-level ss02 setting gives DOM layout and canvas drawing the same g/ğ.
 */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBMPlexSans-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-feature-settings: 'ss02' 1;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBMPlexSans-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-feature-settings: 'ss02' 1;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBMPlexSans-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  font-feature-settings: 'ss02' 1;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBMPlexSans-MediumItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 500;
  font-feature-settings: 'ss02' 1;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('./fonts/IBMPlexMono-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-feature-settings: 'ss02' 1;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('./fonts/IBMPlexMono-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-feature-settings: 'ss02' 1;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('./fonts/IBMPlexSerif-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
}
